# General
temp/*
test/banner/*
test/interstitial/*
build.config

# Eclipse FDT
.settings/*
.project

# Eclipse JDT
android/bin
android/gen
android/res
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store
/android/.settings
/actionscript/android/.actionScriptProperties
/actionscript/android/.flexLibProperties
/actionscript/android/.settings/org.eclipse.core.resources.prefs
/actionscript/default/.actionScriptProperties
/actionscript/default/.flexLibProperties
/actionscript/default/.settings/org.eclipse.core.resources.prefs
/actionscript/ios/.actionScriptProperties
/actionscript/ios/.flexLibProperties
/actionscript/ios/.settings/org.eclipse.core.resources.prefs
/actionscript/android/bin/ANE-Mopub-Android.swc
/actionscript/ios/bin/ANE-Mopub-iOS.swc
/actionscript/default/bin/ANE-Mopub-Default.swc
/test/.actionScriptProperties
/test/.settings/org.eclipse.core.resources.prefs
/test/bin-debug
